html, body{
    background-image: url(img/Parallax-Background-Dark-02.jpg);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #4f4f4f;
}
.index{
    background-color: #6d6d6d61;
    padding: 20px 60px;
    border-radius: 15px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh  ;
}
.header_text{
    font-size: 27px;
    margin-bottom: 20px;
    margin-top: 0;
    text-align: center;
}
.family_block{
    width: 500px;
}
.accordion-item{
    position: relative;
    font-size: 22px;
    width: 100%;
}
.accordion-item__content{
    background-color: #6b6b6bd2;
    font-size: 15px;
    padding: 0px 20px 0px;
    max-width: 500px;
    position: relative;
    height: 0px;
    margin-bottom: 5px;
    overflow: hidden;
    transition: .4s ease-in-out;
}
.accordion-item__trigger{
    background-color: #6b6b6bd2;
    padding: 7px 20px;
    font-size: 17px;
    cursor: pointer;
    position: relative;
}
.accordion-item__trigger::before{
    content: "+";
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 20px;
}
.accordion-item.active .accordion-item__content{
    height: 60px;
}
.accordion-item.active .accordion-item__trigger::before{
    content: "-";
    
}